<!DOCTYPE html>
<html>
<style>
    h1 {text-align: center}
    form {text-align: center}

</style>

<head>
    <meta charset="UTF-8">
    <title>hello page</title>
</head>
<body>
<div>
    <h1>Choose a Direction for the Car</h1>
    <form action = "#" method="post">
        <input type="submit" value = "Up" name="up">
        <input type="submit" value = "Down" name="down">
        <input type="submit" value = "Left" name="left">
        <input type="submit" value = "Right" name="right">
    </form>
</div>
</body>

</html>